{% extends 'layout.html.twig' %}

{% block body %}
    <div class="image">
        <div class="nav">
            <div class="col nav-logo">
                <img class="logo" src="/images/Logo.png" alt="Logo">
            </div>
            <div class="col nav-links">
                <input type="checkbox" name="toggle" id="menu" class="toggleMenu" checked>
                <label for="menu" class="toggleMenu"><img class="miniMenu" src="/images/pngwing.com.png" alt=""></label>
                <ul class="nav">
                    <li class="nav"><a href="" class="nav nav-skin" id="features"><div class="menuLinks">Features</div></a></li>
                    <li class="nav"><a href="" class="nav nav-skin" id="pricing"><div class="menuLinks">Pricing</div></a></li>
                    <li class="nav"><a href="" class="nav nav-skin"><div class="menuLinks">Blog</div></a></li>
                    <li class="nav"><a href="" class="nav nav-skin"><div class="menuLinks">Contact</div></a></li>
                    <li class="nav"><a href="" class="nav nav-skin">
                            <button class="btn btn-login"><div class="menuLinks">Login</div></button>
                        </a></li>
                </ul>
            </div>
        </div>

        <div class="home home-skin">
            <div class="home-align"><h1 class="home skin roboto-thin">Grow Your business with Merkury</h1></div>
            <div class="home-align"><h2 class="home skin roboto-regular">Your partner in crime!</h2></div>
            <div class="home-align">
                <button class="btn btn-g-started">Get started</button>
            </div>
            <div class="dashboard">
                <img class="home" src="/images/Dashboard.png" alt="">
                <div class="shadow-img"></div>
            </div>
        </div>
    </div>

    <div class="f-background f-skin">
        <div class="features" id="features-list">
            <div class="feature">
                <img class="f-img" src="/images/Workflow(1).png" alt="">
                <div class="line"></div>
                <div class="f-header h-skin"> Manage Your Workflow</div>
                <div class="f-text t-skin t-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna.
                </div>
                <div class="f-button">
                    <button class="btn btn-feature">See more</button>
                </div>
            </div>

            <div class="feature">
                <img class="f-img" src="/images/Analytics(1).png" alt="">
                <div class="line"></div>
                <div class="f-header h-skin">Analytics & Insights</div>
                <div class="f-text t-skin t-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna.
                </div>
                <div class="f-button">
                    <button class="btn btn-feature">See more</button>
                </div>
            </div>
            <div class="feature">
                <img class="f-img" src="/images/Calendar.png" alt="">
                <div class="f-header h-skin">Organize Your Deadlines</div>
                <div class="f-text t-skin t-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna.
                </div>
                <div class="f-button">
                    <button class="btn btn-feature">See more</button>
                </div>
            </div>
        </div>
        <div class="group">
            <div class="text-group">
                <h1 class="g-text roboto-thin">All You need is a browser!</h1>
                <div class="paragraphs">
                    <p class="t-skin t-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. </p>
                    <p class="t-skin t-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
                <div class="checks">
                    <div class="g-check check-skin">
                        <img class="check-img" src="/images/check.png" alt="">
                        Lorem ipsum dolor sit amet consectetur
                    </div>
                    <div class="g-check check-skin">
                        <img class="check-img" src="/images/check.png" alt="">
                        Ut enim ad minim veniam quis nostrud
                    </div>
                </div>
            </div>
            <img class="g-img" src="/images/Group.png" alt="">
        </div>
    </div>

    <div class="image-drop">
        <div class="dd-part">
            <img class="d-image" src="/images/drag_drop.png" alt="">
        </div>
        <div class="dd-part dd-text">

            <div class="paragraph" id="paragraphs">

                <div class="parag">
                    <h1 class="d-header roboto-thin">Drag & Drop</h1>
                    <p class="t-skin d-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. </p>
                    <p class="t-skin d-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
                <div class="parag">
                    <h1 class="d-header roboto-thin">Ping & Pong</h1>
                    <p class="t-skin d-align"> Integer vitae in morbi ornare ornare pulvinar non dolor leo, lectus
                        dapibus cras mattis nunc faucibus. Pulvinar nec venenatis elit. </p>
                    <p class="t-skin d-align"> Non ornare dapibus non morbi dui eget sed ex. Arcu luctus orci, nulla
                        dictumst. Interdum aenean quam, velit dictum. </p>
                </div>
                <div class="parag">
                    <h1 class="d-header roboto-thin">Yes & No</h1>
                    <p class="t-skin d-align"> Sodales mollis adipiscing dolor adipiscing nulla augue adipiscing lorem
                        pulvinar orci, dapibus amet dictum lorem pulvinar. </p>
                    <p class="t-skin d-align">Lorem mollis lorem vulputate eget aenean id justo dapibus mattis
                        consectetur cursu. Non interdum non ex. </p>
                </div>
            </div>
            <div class="arrows">
                <img class="arrow" id="left_arrow" src="/images/Arrow_left.png" alt="">
                <img class="arrow" id="right_arrow" src="/images/Arrow_right.png" alt="">
            </div>
        </div>
    </div>

    <div class="f-background f-skin template">
        <div>
            <h1 class="roboto-thin t-text">Powerfull PSD Template</h1>
            <p class="t-skin t-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
                <br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
            </p>
            <img class="temp-img" src="/images/customize.png" alt="">
        </div>
    </div>

    <div class="f-background p-skin template">
        <h1 class="roboto-thin p-text">Check our pricing!</h1>
        <div class="prices" id="price">
            <div class="plan">
                <p class="p-header">BRONZE PLAN</p>
                <div class="price">
                    <strong class="currency">$</strong><strong class="number">19</strong><text class="t-skin mon">/mon</text>
                </div>
                <div class="price-features">
                    <div class="g-check check-skin">
                        <img class="check-img" src="/images/check.png" alt="">
                        <text class="t-skin pr-skin">Lorem ipsum dolor</text>
                    </div>
                    <div class="g-check check-skin">
                        <img class="check-img" src="/images/check.png" alt="">
                        <text class="t-skin pr-skin">Lorem ipsum dolor</text>
                    </div>
                    <div class="g-check check-skin">
                        <img class="check-img" src="/images/cross.png" alt="">
                        <text class="t-skin pr-skin">Lorem ipsum dolor</text>
                    </div>
                    <div class="g-check check-skin">
                        <img class="check-img" src="/images/cross.png" alt="">
                        <text class="t-skin pr-skin">Lorem ipsum dolor</text>
                    </div>
                </div>
            </div>
            <div class="plan">
                <p class="p-header">SILVER PLAN</p>
                <div class="price">
                    <strong class="currency">$</strong><strong class="number">49</strong><text class="t-skin mon">/mon</text>
                </div>
                <div class="price-features">
                    <div class="g-check check-skin">
                        <img class="check-img" src="/images/check.png" alt="">
                        <text class="t-skin pr-skin">Lorem ipsum dolor</text>
                    </div>
                    <div class="g-check check-skin">
                        <img class="check-img" src="/images/check.png" alt="">
                        <text class="t-skin pr-skin">Lorem ipsum dolor</text>
                    </div>
                    <div class="g-check check-skin">
                        <img class="check-img" src="/images/check.png" alt="">
                        <text class="t-skin pr-skin">Lorem ipsum dolor</text>
                    </div>
                    <div class="g-check check-skin">
                        <img class="check-img" src="/images/cross.png" alt="">
                        <text class="t-skin pr-skin">Lorem ipsum dolor</text>
                    </div>
                </div>
            </div>
            <div class="plan">
                <p class="p-header">GOLD PLAN</p>
                <div class="price">
                    <strong class="currency">$</strong><strong class="number">99</strong><text class="t-skin mon">/mon</text>
                </div>
                <div class="price-features">
                    <div class="g-check check-skin">
                        <img class="check-img" src="/images/check.png" alt="">
                        <text class="t-skin pr-skin">Lorem ipsum dolor</text>
                    </div>
                    <div class="g-check check-skin">
                        <img class="check-img" src="/images/check.png" alt="">
                        <text class="t-skin pr-skin">Lorem ipsum dolor</text>
                    </div>
                    <div class="g-check check-skin">
                        <img class="check-img" src="/images/check.png" alt="">
                        <text class="t-skin pr-skin">Lorem ipsum dolor</text>
                    </div>
                    <div class="g-check check-skin">
                        <img class="check-img" src="/images/check.png" alt="">
                        <text class="t-skin pr-skin">Lorem ipsum dolor</text>
                    </div>
                </div>
            </div>
        </div>
        <div class="join">
            <p class="t-skin t-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
                <br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
            </p>

            <div class="join-pre">
                <div class="line-pre"></div>
                <button class="btn btn-g-started">Join now!</button>
                <div class="line-pre"></div>
            </div>
        </div>
    </div>

{% endblock %}