{% extends 'layout.html.twig' %}

{% block body %}


    <div class="home home-skin">
        <div class="home-align"><h1 class="home skin roboto_thin">Grow Your business with Merkury</h1></div>
        <div class="home-align"><h2 class="home skin roboto_regular">Your partner in crime!</h2></div>
        <div class="home-align">
            <button class="btn btn-g-started">Get started</button>
        </div>
        <div>
            <img class="home" src="/images/Dashboard.png" alt="">
            <div class="shadow_img"></div>
        </div>
    </div>
    <h1>dsdfj</h1>


{% endblock %}