{% extends 'layout.html.twig' %}

{% block body %}
    <div>
        <img class="graph" src="/images/Graph.png" alt="">
        <img class="grid" src="/images/Grid.png" alt="">
    </div>
{% endblock %}