<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Merkury</title>
</head>
<body>

<div class="nav">
    <div class="col nav-logo">
        <img class="logo" src="/images/Logo.png" alt="Logo">
    </div>
    <div class="col nav-links">
        <ul>
            <li class="nav"><a href="" class="nav nav-skin">Features</a></li>
            <li class="nav"><a href="" class="nav nav-skin">Pricing</a></li>
            <li class="nav"><a href="" class="nav nav-skin">Blog</a></li>
            <li class="nav"><a href="" class="nav nav-skin">Contact</a></li>
            <li class="nav"><a href=""><button class="btn btn-login">Login</button></a></li>
        </ul>
    </div>
</div>

{% block body %}
{% endblock %}

<script src="../bundle/bundle.js"></script>
</body>
</html>