<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Merkury</title>
</head>
<body>

{% block body %}
{% endblock %}
<footer class="footer nav">
    <div class="col nav-logo">
        <p class="foot-a">© 2016 Merkury All Right Reserved</p>
    </div>
    <div class="col nav-links footer-nav">
        <ul class="nav">
            <li class="foot-li"><p class="foot-a">Pricing</p></li>
            <li class="foot-li"><p class="foot-a">Blog</p></li>
            <li class="foot-li"><p class="foot-a">Contact</p></li>
            <li class="cont-li">
                <p class="foot-a">
                    <img class="share-img" src="/images/Facebook.png" alt="">
                </p>
            </li>
            <li class="cont-li">
                <p class="foot-a">
                    <img class="share-img" src="/images/Twitter.png" alt="">
                </p>
            </li>
            <li class="cont-li">
                <p class="foot-a">
                    <img class="share-img" src="/images/Google.png" alt="">
                </p>
            </li>
        </ul>
    </div>
</footer>
<script src="../bundle/bundle.js"></script>
</body>
</html>